/*app.wxss*/

page {
	background: #fafafa;
	font-size: 32rpx;
}

.container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.phcolor {
	color: #ccc;
	font-size: 32rpx;
}

button::after {
	border: none;
}

.opcity {
	opacity: 0.5;
}

.hover {
	background: #f7f7f9 !important;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*列表统一样式 */

.list-item {
	position: relative;
}

.list-item::after {
	content: '';
	position: absolute;
	border-bottom: 1upx solid #eaeef1;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	bottom: 0;
	right: 0;
	left: 30rpx;
}

.last::after {
	border-bottom: 0 !important;
}

/*按钮样式*/

.btn-primary {
	width: 100%;
	height: 90rpx;
	line-height: 90rpx;
	background: linear-gradient(-90deg, #5677fc, #5c8dff);
	border-radius: 45rpx;
	color: #fff;
	font-size: 36rpx;
}

.btn-hover {
	color: #d5d4d9;
	background: linear-gradient(-90deg, #4a67d6, #4e77d9);
}

.btn-gray {
	background: #ededed;
	color: #999 !important;
}

.btn-gray-hover {
	background: #d5d5d5 !important;
	color: #898989;
}

.btn-white {
	background: #fff;
	color: #333 !important;
}

.tui-white-hover {
	background: #e5e5e5 !important;
	color: #2e2e2e !important;
}

.btn-disabled {
	color: #fafbfc !important;
	background: linear-gradient(-90deg, #cad8fb, #c9d3fb);
}
